* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
@font-face {
	font-family: iransans;
	src: url(../fonts/IRANSANS.ttf);
}
html {
	direction: rtl;
	font-family: iransans;
	overflow-x: hidden;
}
body {
	height: 100%;
	overflow-Y: hidden;
}
table{
    border:1px solid black;
    width:100%;
}
table th,
table td {
    border:1px solid black;
    padding:10px;
}
p {
	font-size: 14px;
	line-height: 30px;
}
a {
	text-decoration: none;
	color: black;
	line-height: 70px;
}
img {
	width: 100%;
	height: 100%;
}
hr {
	height: 2px;
	border: 1px solid purple;
	margin: 10px auto;
}
ul li {
	margin: 10px 20px 0 0;
}
header {
	background-color: #032266;
	width: 100%;
	height: 20vh;
	line-height: 40px;
	font-weight: 700;
	display: grid;
	grid-template-rows: 50% 50%;
}
header #row1 {
	display: grid;
	grid-template-columns: 2fr 1fr;
	justify-content: space-between;
	width: 100%;
	position: relative;
}
#reg {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	font-size: 10px;
	position: absolute;
	left: 0;
}
#reg a {
	padding: 5px;
}
header #row2 {
	display: grid;
	justify-content: center;
	grid-template-columns: repeat(10, 1fr);
}
header a {
	text-align: center;
	font-size: 12px;
    color:white;
}
#row2 a:hover,
#reg a:hover,
#about a:hover {
	color: rgba(255, 255, 255, 0.5);
	transition: .3s ease-in-out all;
}
#content {
	display: grid;
	grid-template-columns: 1fr 2fr;
	justify-content: space-between;
	height: auto;
	padding: 20px;
}
.img-holder {
	width: 20%;
	margin: 0 auto;
}
.side {
	background-color: rgb(9, 17, 34);
	color: white;
	width: 85%;
	height: 80vh;
	margin: 0 20px;
	border-radius: 5px 5px 5px 5px;
}
.side a {
	color: white;
}
.side.right h3 {
	font-size: 0.8rem;
	text-align: right;
	padding: 15px;
	margin: 0 0 10px 0;
	width: 100%;
	height: 60px;
	background-color: rgb(3, 34, 102);
	color: white;
	border-bottom: 10px solid white;
	border-radius: 10px 10px 0 0;
}

#center {
	width: 100%;
	height: auto;
	display: block;
	padding: 0px 20px 10px 20px;
}
#content #center .text-content {
	margin-bottom: 10px;
}
#content #center .text-content h3 {
	margin-bottom: 10px;
	font-size: 16px;
	color: rgb(3, 34, 102);
}
#text-title {
	text-align: center;
	font-weight: bold;
	margin-bottom: 20px;
	font-size: 0.8rem;
	text-align: right;
	padding: 15px;
	background-color: rgb(3, 34, 102);
	color: white;
	border-radius: 10px 10px 0 0;
}
.card {
	width: 100%;
	height: 150px;
	background-color: rgb(216, 184, 241);
	padding: 5px;
	position: relative;
	border-bottom: 1px solid #666;
	cursor: pointer;
	color: white;
}
.card:hover {
	background-color: rgb(3, 34, 102);
	transition: .2s ease-in-out all;
}
.card-image {
	height: 75px;
	width: 75px;
	padding: 5px;
	position: absolute;
	top: 20%;
	right: 0;
}
.card-image img {
	height: 100%;
	width: 100%;
}
.side.right .card-content {
	font-size: 12px;
	width: 65%;
	text-align: right;
	position: absolute;
	left: 2%;
	top: 30%;
}
footer {
	background-color:#032266;
	width: 100%;
	height: auto;
	text-align: center;
	font-weight: 700;
	padding: 0 10px;
	color: white;
}
footer #footer-container {
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	padding: 20px 0 0 0;
}
footer #footer-container .footer-item {
	display: grid;
	grid-template-rows: 20% 80%;
	font-size: 12px;
	text-align: center;
	height: 100%;
}
footer #footer-container .footer-item span {
	color: black;
}
footer #footer-container .description #row-1 {
	margin: 0 auto;
	width: 70%;
}
footer #footer-container .description #row-2 {
	width: 70%;
	margin: 30px 40px 0 0;
	line-height: 40px;
}

#row-4 {
	display: grid;
	grid-template-rows: repeat(3, 33%);
	position: relative;
}
#row-4 img {
	position: absolute;
	width: 7%;
	left: 0;
}
#row4-1 p,
#row4-2 p,
#row4-3 p {
	margin: 0 10px;
	text-align: center;
	line-height: 30px;
}
.sign {
	display: grid;
	grid-template-rows: 10% 90%;
}
.sign #row-6 {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	margin: 0 auto;
	width: 50%;
}

#form-page {
	background-image: url(../images/neon-lights-wallpaper_52683-46462.jpg);
	background-position: center;
	background-size: cover;
	height: 100%;
	text-align: center;
	margin: 20px 0px 20px 0px;
}
.btn{
    padding:20px;
    border:1px solid black;
    background-color:white;
    cursor:pointer;

}
.demo{
    widows: 50px;
    height:20px;
    padding: 20px;
}